html {
  font-size: 62.5%;
}
h1,
h2 {
  font-family: 'Shadows Into Light', cursive;
}
h3,
h4,
h5,
h6,
p,
li {
  font-family: 'Tajawal', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
h4 {
  font-size: 1.6rem;
}
p {
  font-size: 2.4rem;
}
li {
  font-size: 2.1rem;
}
.container-nav {
  border-top: 0.2rem solid purple;
}
.container-nav .image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-nav img {
  position: absolute;
  z-index: 0;
  width: 100vw;
  height: 30rem;
  border-bottom: 0.4rem solid purple;
  background-position: center;
  background-size: cover;
}
@media (min-width: 800px) {
  .container-nav img {
    height: 30rem;
  }
}
@media (min-width:1000px) {
  .container-nav img {
    height: 25rem;
  }
}
.navigation #title {
  color: white;
  font-weight: bolder;
  position: relative;
  z-index: 1;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.navigation .navbar {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  z-index: 1;
}
@media (min-width: 800px) {
  .navigation .navbar {
    justify-content: space-evenly;
  }
}
@media (min-width:1000px) {
  .navigation .navbar {
    background-color: #9932CC;
    min-width: 20vw;
    flex-direction: row;
    align-items: flex-end;
  }
}
.navigation .navbar a {
  text-decoration: none;
  border-radius: 1.5rem;
  border: 0.3rem solid purple;
  margin: 0.5rem;
  margin-left: 0;
  margin-right: 0;
  color: #FFFFFF;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #9932CC;
  min-width: 85vw;
}
@media (min-width:1000px) {
  .navigation .navbar a {
    border: none;
    text-align: center;
    flex-direction: row;
    justify-content: space-evenly;
    min-width: 50vw;
  }
}
.navigation .navbar a:hover {
  background-color: purple;
  border: 0.3rem solid #9932CC;
}
@media (min-width:1000px) {
  .navigation .navbar a:hover {
    text-decoration: underline overline;
    border: none;
    background-color: #9932CC;
  }
}
.footer {
  min-width: 100%;
  background: #9932CC;
  border-top: 0.4rem solid purple;
  border-bottom: 0.4rem solid purple;
}
.footer p {
  color: #FFFFFF;
  text-align: center;
  font-size: 1.6rem;
  padding: 20px;
}
.introduction {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.introduction .titles {
  text-align: center;
  margin-top: 3rem;
}
.introduction #intro {
  padding: 2rem;
  margin: 2rem;
  border: 0.2rem solid purple;
  border-radius: 1.5rem;
  background-color: lavender;
  text-align: center;
}
.introduction #intro #sfrc {
  font-weight: bolder;
  color: purple;
}
.introduction p {
  padding: 2rem;
  margin: 2rem;
  border: 0.2rem solid purple;
  border-radius: 1.5rem;
  background-color: lavender;
  text-align: center;
}
.introduction button {
  margin: 0;
  border: 0.3rem solid purple;
  border-radius: 1.5rem;
  background-color: lavender;
  text-align: center;
  padding: 2rem;
  font-size: 1.7rem;
  font-weight: bolder;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  width: 50%;
}
@media (min-width: 800px) {
  .introduction button {
    width: 25%;
  }
}
@media (min-width:1000px) {
  .introduction button {
    width: 25%;
  }
}
.introduction button a {
  text-decoration: none;
}
.introduction #Grandma {
  margin-top: 2rem;
}
.introduction .features {
  list-style-type: disc;
}
.introduction .features li {
  max-width: 80vw;
  margin-left: 2vw;
}
@media (min-width: 800px) {
  .introduction .features li {
    margin-left: 5vw;
  }
}
@media (min-width:1000px) {
  .introduction .features li {
    margin-left: 6vw;
  }
}
.introduction img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}
@media (min-width: 800px) {
  .introduction img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 30vw;
  }
}
.mission {
  margin-top: 4rem;
}
.mission img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}
@media (min-width:1000px) {
  .mission img {
    width: 65%;
  }
}
.mission h2 {
  font-size: 4rem;
}
@media (min-width:1000px) {
  .cookBook {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
}
.cookBook img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}
@media (min-width:1000px) {
  .cookBook img {
    order: 2;
    width: 65%;
  }
}
@media (min-width:1000px) {
  .cookBook h2 {
    margin-top: 0;
    order: 1;
  }
}
@media (min-width:1000px) {
  .cookBook p {
    order: 3;
  }
}
@media (min-width:1000px) {
  .cookBook .features {
    order: 4;
  }
}
.about {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.about #title {
  margin-top: 6rem;
  text-align: center;
}
.about .angelica,
.about .april,
.about .kim,
.about .taylor {
  margin: 2rem;
  border: 0.2rem solid purple;
  border-radius: 1.5rem;
  background-color: lavender;
  text-align: center;
  min-height: 29rem;
}
@media (min-width:1000px) {
  .about .angelica,
  .about .april,
  .about .kim,
  .about .taylor {
    width: 40vw;
  }
}
.about .angelica img,
.about .april img,
.about .kim img,
.about .taylor img {
  width: 25rem;
  height: 25rem;
  margin: 2rem;
  float: left;
}
@media (min-width:1000px) {
  .about .angelica img,
  .about .april img,
  .about .kim img,
  .about .taylor img {
    float: none;
    margin-top: 2rem;
  }
}
.info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 8rem;
  margin-left: 2rem;
}
@media (min-width:1000px) {
  .info {
    width: 40vw;
    margin: 0;
    margin-bottom: 2rem;
  }
}
.info .angelica,
.info .april,
.info .kim,
.info .taylor {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (min-width:1000px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
