.about {
    padding-top: 2rem;
    padding-bottom: 2rem;

    #title {
        margin-top: 6rem;
        text-align: center;
    }
    
    .angelica, .april, .kim, .taylor {
        .border (2rem, .2rem solid purple, 1.5rem, lavender);
        text-align: center;
        min-height: 29rem;

        @media @desktop {
            width: 40vw;
        }

        img {
            width: 25rem;
            height: 25rem;
            margin: 2rem;
            float: left;

            @media @desktop {
                float: none;
                margin-top: 2rem;
            }
        }
    }
}

.info {
    .imageFlex(column, wrap);
    margin-top: 8rem;
    margin-left: 2rem;

    @media @desktop {
        width: 40vw;
        margin: 0;
        margin-bottom: 2rem;
    }

    .angelica, .april, .kim, .taylor { 
        .imageFlex(column, wrap);
    }
}

.team {
    @media @desktop {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;    
    }
}