.marketing-page{
    h1, h2{
    color: @shark;
    }

    h3, h4 {
    color: @sub-text;
    }

    h2 {
        text-align: center;
    }
}

.introduction {
    img {
        width: 30vw;
        height: 40vh;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 3%;
        border: .7rem solid gray;
    }
}

