.introduction {
    padding-top: 2rem;
    padding-bottom: 2rem;

    .title {
        text-align: center;
    }

    #intro {
        background-color: lavender;
        margin: 2rem;
        padding: 2rem;
        border: .2rem solid purple;
        border-radius: 1.5rem;
        text-align: center;

        #sfrc {
        font-weight: bolder;
        color: purple;
        }
    }
}

