// Color assignments 
@font-color: @shark;
@sub-text: @gray;
@button-bg: @orchid;
@main-bg:  @white;
@navigation-border: @gray;
@footer-bg: @mid-blue;
@hover-color: @lavendar;

// Colors
@white: #FFFFFF;
@gray: #A9A9A9;
@shark: black;
@mid-blue: #1E90FF;
@orchid:#9932CC;
@lavendar: #E6E6FA;

// Media
@tablet: ~ "(max-width: 780px)";
@mobile: ~ "(max-width: 550px)"; 